html {
    background-color:black;
}

body {
    margin: auto;
    width: 1000px;
}

h1 {
   background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 50px;
    width: 1000px;
    margin: 50px;
}

img {
    width: 200px;
    background-color: white;
    float: left;
}

.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 25px;
    width: 1000px;
  margin: 50px;
}

.description {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: black;
    width: 1000px;
    margin: 50px;
}

footer {
    background-color: white;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    width: 1000px;
    margin: 50px;
}